services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./dev/postgres/initdb.sql:/docker-entrypoint-initdb.d/initdb.sql:ro
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 5

  kratos-migrate:
    image: oryd/kratos:v1.3.1
    command: migrate sql -e --yes
    environment:
      - DSN=postgres://kratos:kratos@postgres:5432/kratos?sslmode=disable
      - SECRETS_CIPHER_0=abcdefghijklmnopqrstuvwxyzABCDEF
      - SECRETS_COOKIE_0=abcdefghijklmnopqrstuvwxyzABCDEF
      - SECRETS_DFEAULT_0=abcdefghijklmnopqrstuvwxyzABCDEF
    depends_on:
      postgres:
        condition: service_healthy
    restart: on-failure

  kratos:
    image: oryd/kratos:v1.3.1
    command: serve all --dev --watch-courier -c /etc/kratos/kratos.yml
    environment:
      - DSN=postgres://kratos:kratos@postgres:5432/kratos?sslmode=disable
      - SECRETS_CIPHER_0=abcdefghijklmnopqrstuvwxyzABCDEF
      - SECRETS_COOKIE_0=abcdefghijklmnopqrstuvwxyzABCDEF
      - SECRETS_DFEAULT_0=abcdefghijklmnopqrstuvwxyzABCDEF
    volumes:
      - ./dev/kratos.yml:/etc/kratos/kratos.yml:ro
    ports:
      - "4433:4433"
      - "4434:4434"
    depends_on:
      kratos-migrate:
        condition: service_completed_successfully

  oathkeeper:
    image: oryd/oathkeeper:v0.40.9
    command: serve proxy -c /etc/oathkeeper/oathkeeper.yml
    volumes:
      - ./dev/oathkeeper.yml:/etc/oathkeeper/oathkeeper.yml:ro
      - ./dev/access-rules.yml:/etc/oathkeeper/access-rules.yml:ro
    ports:
      - "4455:4455"

  mailslurper:
    image: oryd/mailslurper:latest-smtps
    ports:
      - "4436:4436"
      - "4437:4437"

volumes:
  postgres:
