# yaml-language-server: $schema=https://raw.githubusercontent.com/ory/kratos/refs/heads/master/embedx/config.schema.json

dsn: sqlite://./kratos.db?_fk=true&journal_mode=WAL&mode=rwc

log:
  leak_sensitive_values: true

serve:
  admin:
    base_url: http://localhost:14434
  public:
    port: 14433
    base_url: http://localhost:14433
    cors:
      allow_credentials: true
      allowed_origins:
        - http://localhost:3000
      debug: false
      enabled: true
      options_passthrough: false
    request_log:
      disable_for_health: false

courier:
  smtp:
    connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true

identity:
  schemas:
    - id: default
      url: https://github.com/ory/kratos/raw/refs/tags/v1.3.1/contrib/quickstart/kratos/email-password/identity.schema.json

selfservice:
  default_browser_return_url: http://localhost:8080
